<ion-tabs [selectedIndex]="myIndex" #myTabs>
  <ion-tab [root]="tabHomeRoot" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tabMediaRoot" tabTitle="Media" tabIcon="play"></ion-tab>
  <ion-tab [root]="tabConnectRoot" tabTitle="Connect" tabIcon="git-network"></ion-tab>
  <ion-tab [root]="tabLocateRoot" tabTitle="Locate" tabIcon="compass"></ion-tab>
  <ion-tab [root]="tabGivingRoot" tabTitle="Giving" tabIcon="body"></ion-tab>
</ion-tabs>
