<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <!--show if user logged in-->
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
      <!--hide if user not logged in-->
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="news">
        News Feed
      </ion-segment-button>
      <ion-segment-button value="discover">
        Discover
      </ion-segment-button>
      <ion-segment-button value="guide">
        Weekly Guide
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="selectedSegment">
    <ion-list *ngSwitchCase="'news'">
      <ion-card>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png"/>
        <ion-card-content>
          <ion-card-title>
            Nine Inch Nails Live
          </ion-card-title>
          <p>
            The most popular industrial group ever, and largely
            responsible for bringing the music to a mass audience.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'discover'">

      <ion-item>
        <h2>discover</h2>
      </ion-item>
      <ion-item>
      <h2>discover</h2>
    </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'guide'">
      <ion-item>
        <h2>guide</h2>
      </ion-item>
    </ion-list>

  </div>





</ion-content>


<!--<ion-list *ngSwitchCase="'news'">-->
  <!--<ion-item>-->
    <!--<ion-thumbnail item-start>-->
    <!--<img src="img/thumbnail-puppy-1.jpg">-->
    <!--</ion-thumbnail>-->
    <!--<h2>news</h2>-->
  <!--</ion-item>-->
<!--</ion-list>-->
