<ion-menu [content]="content">
  <ion-header>
    <ion-navbar>
      <ion-title>The Glory Places Church</ion-title>
    </ion-navbar>

  </ion-header>

  <ion-content padding>
    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon icon-start [name]="p.icon" [color]="isActive(p)" padding-right="15"></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnable="false"></ion-nav>
